@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-guess-numbers {
  font-family: "Press Start 2P", sans-serif;
}

.loginBackground {
  background-image: url("../assets/img/background-login.jpg");
  background-position: center top;
  background-size: cover;
}

.regisBackground {
  background-image: url("../assets/img/regisback.png");
  background-position: center;
  background-size: cover
}

.mainBackground {
  /* background-color: black; */
  background-image: url("../assets/img/background-login.jpg") !important;
  background-size: cover;
  background-position: center;
  background-position-x: center;
  background-position-y: top ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.secondBackground {
  /* background-color: black; */
  background-image: url("../assets/img/background-login2.jpg") !important;
  background-size: cover;
  background-position: center top;
  background-position-x: center;
  background-position-y: top ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
